.text-white {
    color: var(--white);
}

.func-button {
    margin-bottom: 1rem;
}

.card-image {
    width: 100%;
    height: 100%;
    aspect-ratio: 5/8;
    object-fit: cover;
    border-radius: 10px;
}